Earth-Quake data.json
[{"id":"b3fab2eb.f73b","type":"tab","label":"Earthquake http request ","disabled":false,"info":""},{"id":"536e1e58.43d36","type":"inject","z":"b3fab2eb.f73b","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":100,"wires":[["6be3c56d.23dd9c"]]},{"id":"6be3c56d.23dd9c","type":"http request","z":"b3fab2eb.f73b","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":100,"wires":[["39f05ba.8b644a4"]]},{"id":"39f05ba.8b644a4","type":"csv","z":"b3fab2eb.f73b","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":130,"y":220,"wires":[["e4c7b8fa.d14ed8","7874e4b7.82cf4c"]]},{"id":"7874e4b7.82cf4c","type":"debug","z":"b3fab2eb.f73b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":200,"wires":[]},{"id":"e4c7b8fa.d14ed8","type":"switch","z":"b3fab2eb.f73b","name":"","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"7","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":300,"wires":[["3c4cac24.e03504"]]},{"id":"3c4cac24.e03504","type":"change","z":"b3fab2eb.f73b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"PANIC!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":340,"wires":[["38d68b1.eb27674"]]},{"id":"38d68b1.eb27674","type":"debug","z":"b3fab2eb.f73b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":360,"wires":[]},{"id":"d2d2ed87.358d9","type":"comment","z":"b3fab2eb.f73b","name":"","info":"This flow request for data from https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv which is an earthquake dataset we convert it to a csv file.\nThe switch checks on the magnitude of the quake and returns a 'PANIC'message","x":100,"y":380,"wires":[]}]