flows (12).txt
[{"id":"471fcea9.faf98","type":"tab","label":"CoAP servers","disabled":false,"info":""},{"id":"fd3f9fba.bbe65","type":"mqtt out","z":"471fcea9.faf98","name":"IoT Temp Publisher","topic":"iot/temp","qos":"","retain":"","broker":"b4653d74.2b838","x":310,"y":200,"wires":[]},{"id":"c65b1fdc.12c49","type":"mosca in","z":"471fcea9.faf98","mqtt_port":1883,"mqtt_ws_port":8080,"name":"MOSCA MQQT broker","username":"","password":"","dburl":"","x":210,"y":100,"wires":[[]]},{"id":"25fdd454.1fc19c","type":"inject","z":"471fcea9.faf98","name":"Sensor","topic":"","payload":"34","payloadType":"num","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":200,"wires":[["fd3f9fba.bbe65"]]},{"id":"7109cc7f.088e24","type":"mqtt in","z":"471fcea9.faf98","name":"IoT Temp Subscriber2","topic":"iot/temp","qos":"0","datatype":"auto","broker":"b4653d74.2b838","x":200,"y":300,"wires":[["dc694d2e.f6d69","7e2667a3.4415c8"]]},{"id":"dc694d2e.f6d69","type":"debug","z":"471fcea9.faf98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":300,"wires":[]},{"id":"175efb9b.b6d6d4","type":"ui_button","z":"471fcea9.faf98","name":"AlternativeInjection(15)","group":"85fdefe0.ad64","order":1,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"15","payloadType":"num","topic":"","x":140,"y":460,"wires":[["fd3f9fba.bbe65"]]},{"id":"7e2667a3.4415c8","type":"ui_chart","z":"471fcea9.faf98","name":"","group":"85fdefe0.ad64","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":430,"y":620,"wires":[[]]},{"id":"b4653d74.2b838","type":"mqtt-broker","z":"","name":"IoT Subscriber","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"85fdefe0.ad64","type":"ui_group","z":"","name":"Kitchen","tab":"17773dc4.5ef192","order":1,"disp":true,"width":"6","collapse":false},{"id":"17773dc4.5ef192","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]