flows (11).txt
[{"id":"aa6ca504.e9b518","type":"tab","label":"OpenWeather and Twitter Integration","disabled":false,"info":""},{"id":"8acba8b.cad5258","type":"debug","z":"aa6ca504.e9b518","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":220,"wires":[]},{"id":"6abd38f1.46f5d8","type":"openweathermap","z":"aa6ca504.e9b518","name":"Nairobi Weather","wtype":"current","lon":"","lat":"","city":"Nairobi","country":"Kenya","language":"en","x":350,"y":300,"wires":[["8acba8b.cad5258","18240396.95043c"]]},{"id":"aa344288.29524","type":"inject","z":"aa6ca504.e9b518","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":160,"wires":[["6abd38f1.46f5d8"]]},{"id":"18240396.95043c","type":"function","z":"aa6ca504.e9b518","name":"If Clear Weather","func":"//Weather is cloudy at the moment I adjusted it to 'Clouds' to ensure it is apble to tweet then altered it to suit the lab work\nif(msg.payload.weather==\"Clear\")\n{\n    msg.payload=\"Clear skies ahead today!\"\n    return msg;\n}\nreturn null\n","outputs":1,"noerr":0,"x":520,"y":380,"wires":[["f9ff523b.6414b"]]},{"id":"f9ff523b.6414b","type":"twitter out","z":"aa6ca504.e9b518","twitter":"","name":"Tweet","x":660,"y":300,"wires":[]},{"id":"1144db07.ac2485","type":"comment","z":"aa6ca504.e9b518","name":"","info":"This flow gets data from openweather API, then according to the temperature,it tweets out","x":260,"y":440,"wires":[]}]