SimpleTrigger Display.json
[{"id":"bec85ad8.10b048","type":"tab","label":"Simple Trigger and Display ","disabled":false,"info":""},{"id":"6fddd7b7.790288","type":"inject","z":"bec85ad8.10b048","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":80,"wires":[["8977d1ca.75b8d"]]},{"id":"8977d1ca.75b8d","type":"function","z":"bec85ad8.10b048","name":"","func":"//102156\n//Papa Blaise\n//29th April 2020\n// Create a variable and assign the name \n//remeber to use the message payload\n\nvar names={payload: 'Simple Triger and Debug Flow'}\n\n// Return the message so it can be sent on\nreturn names;","outputs":1,"noerr":0,"x":230,"y":200,"wires":[["80417697.f28e78"]]},{"id":"80417697.f28e78","type":"debug","z":"bec85ad8.10b048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":440,"y":220,"wires":[]},{"id":"baf5b548.3b2ee8","type":"comment","z":"bec85ad8.10b048","name":"","info":"This is a simple flow by which you trigger and the function displays a message on the debug console.","x":140,"y":320,"wires":[]}]